<Constructor>
    <Client>
        <SerialPort>COM6</SerialPort>
    </Client>
    <Message>
        <Components>
            <STX>55</STX>
            <DST>01</DST>
            <SND>00</SND>
            <LEN>00</LEN>
            <MSG></MSG>
            <QRY>3F</QRY>
            <CRC>0000</CRC>
            <ETX>AA</ETX>
        </Components>
        <!--
            Message format is constructed from various elements in the following order:

            <STX><DST><SND><LEN><MSG>[<QRY>]<CRC><CRC><ETX>

            STX: Start Transmission
            DST: Destination Address
            SND: Sender Address
            LEN: Length of payload. Count of bytes in following components <DST><SND><LEN><MSG>[<QRY>]
            QRY: Query is exclusive with a set instruction; therefore you either query or follow the
            instruction requirements for including a setting.
            CRC: First half of CRC-16
            CRC: Second half of CRC-16
            ETX: End Transmission

            #CRC-16 is calculated [in these bytes] <STX>[<DST><SND><LEN><MSG>[<QRY>]]<CRC><CRC><ETX>
            
        -->
    </Message>
</Constructor>